
.flex-row {
    display: flex;
    flex-direction: row;
}

.flex-column {
    display: flex;
    flex-direction: column;
}

.flex-1 {
    flex: 1;
}

.space-between {
    justify-content: space-between;
}

.justify-content-center {
    justify-content: center;
}

.align-center {
    align-items: center;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.ellipsis-text {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.no-overflow {
  overflow: hidden;
}

.pointer {
  cursor: pointer;
}
